@charset "UTF-8";

//  로보토체 (100, 300, 400, 500, 700, 900)
//  font-family: 'Roboto', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@mixin roboto() {
  font-family: "Roboto", sans-serif;
}
// 캄포타체 (300, 400, 500, 600, 700)
//  font-family: 'Comfortaa', cursive;
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
@mixin comfortaa() {
  font-family: "Comfortaa", sans-serif;



  
}
body {
  font-family: "Comfortaa", Arial, Helvetica, Verdana, Geneva, Tahoma,
    sans-serif;
}
