main {
  .bg {
    max-width: 500px;
    min-width: 340px;
    height: 100vh;
    max-height: 1000px;
    margin: auto;
    background: url("../img/bgx4.png") no-repeat top center / cover;
    position: relative;
  }
}

main {
  .setting_bg {
    max-width: 400px;
    min-width: 360px;
    height: 100vh;
    max-height: 1000px;
    margin: auto;
    position: relative;
    .setting_add_bg {
      width: 100%;
      height: 100vh;
      max-height: 1000px;
      top: 0;
      left: 0;
      position: absolute;
      border: 5px solid yellow;
      background: #fff;
      z-index: 1000;
      display: none;
      &.on {
        display: block;
      }
    }
  }
}
